<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GivingAt.work - Home</title>
    <meta name="description" content="just another react + webpack boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style media="screen">
      html {
        font-family: 'Roboto', sans-serif;
        font-size: 62.5%;
      }

      body {
        line-height: 1.5;
        background: #efefef;
      }
      
      button span, a span {
        text-transform: none !important;
      }
    </style>
  </head>
  <body>
    <h1>Something definitely went wrong!</h1>
    <h2>If problem persists, please contact info@givingat.work for support.</h2>
    <% if(locals.message){ %>
      <h2>Server says: <%= message %></h1>    
    <% } %>
    
  </body>
</html>
