// .root {
// 	// margin: 0px;
// 	// padding: 0px;
// 	background-color: #3F51B5;

// 	.brandName {
// 		background-color: #3F51B5;
// 	}
// }

.root {
	margin: 0px;
	padding: 0px;
	background-color: #222;
	
}