/* VARIABLES */
$theme-color: #00BCD4;
$heading-color: #444;

@media (min-width: 1030px) {
	.chapter {
		padding-left: 18px;
		padding-right: 18px;
	}
}

@media (min-width: 767px) and (max-width: 1030px) {
	.chapter {
		padding-left: 6px;
		padding-right: 6px;
	}
}

@media (max-width: 767px) {
	.chapter {
		padding: 0px;
	}
}

article.article {
	margin-bottom: 100px;

	h2.article-title {
		color: $heading-color;
		font-size: 34px;
		font-weight: 300;
		padding-top: 50px;
		margin: 0px 0px 30px !important;
	}

	.border-top {
		border-top: 1px solid rgba(0, 0, 0, 0.117647) !important;
	}

	table {
		border: 0px;

		thead {
			background-color: #E6E6E6;

			tr > th {
				font-size: 16px;
				color: #555;
				font-weight: 500;
				border-bottom: 1px solid #CCC;
			}
		}

		tbody {
			tr {
				td {
					font-size: 14px;
					border-bottom: 1px solid #DDD;

					.secondary-text {
						font-size: 0.9em;
						color: #777;
					}

					a {
						margin-left: 10px;
						svg > path {
							fill: rgba(0, 188, 212, 0.6);
						}
					}
				}

				tr {
					td {
						padding: 0px;

						.no-padding {
							div {
								padding: 0px !important;

								div {
									padding: 0px !important;

									div {
										display: block !important;
									}
								}
							}

							td {
								border: 0px;
							}
						}
					}
				}
			}
		}
	}

	.box {
		.box-header {
			padding-top: 30px;
			font-size: 1.6em;
			font-weight: 400;
			color: $heading-color;
		}

		.box-body {
			padding-top: 0px;

			.connect-btn-box {
				align-self: center;
			}
		}
	}

	.mono-text {
		font-family: 'Roboto Mono';
	}

	.btn-space {
		margin-top: 10px;
	}
}