$theme-color-1: #00BCD4;
$theme-color-2: #0097A7;

div.navSpan {
	width: 100%;
	background-color: #D2E7EA;
	overflow: hidden;

	.actionBtn {
		float: right;
		margin: 9px 24px;
	}

	.selectiveActionBtn {
		border: 1px solid $theme-color-1;
		// border-radius: 4px;
		float: right;
		margin: 8px 5px;
	}
	
	.selectiveDropdownMenu {
		border: 1px solid $theme-color-1;
		// border-radius: 4px;
		float: right;
		margin: 8px 5px;
		max-height: 38px;

		div {
			width: 180px !important;

			label {
				color: $theme-color-1 !important;
			}
			
			div {
				margin: 0px !important;

				button {
					display: none;

					div {
						display: none;
					}
				}
			}
		}
	}
}

div.box-default {
	box-shadow: none;

	div.slide {
		padding: 20px;

		table {
			margin-top: 20px; 

			thead {
				background-color: #E6E6E6;

				tr > th {
					font-size: 16px;
					color: #555;
					font-weight: 500;
					border-bottom: 1px solid #B8B8B8;
				}
			}

			tbody {
				tr.fixedHeightRow {
					cursor: pointer;
					height: 73px;

					td {
						font-size: 14px;
						border-bottom: 1px solid #DDD;

						.secondary-text {
							font-size: 0.9em;
							color: #777;
						}

						.actionIcon {
							padding: 12px !important;
							max-height: 90px;
						}
					}

					td.fixedWidthCol {
						min-width: 138px;
					}
				}
			}
		}

	}
}

.show {
	float: right;
	padding: 0px;
	margin: 0px;
	visibility: visible;
}

.hide {
	visibility: hidden;
}

.icon {
	transform: rotate(360deg);
	transition: 300ms transform;
}

.icon.selected {
	animation: spin 300ms;
	transform: rotate(180deg);
}

@keyframes spin {
	0% {
			transform: rotate(0deg);
	}

	100% {
			transform: rotate(180deg);
	}
}