.root {
  
}

.actionContainer {
  text-align: right;

  & > * {
    margin: 2rem;
  }
}

.divider-pipe {
  color: #999;
  padding-left: 8px;
}

.divider-pipe:after {
  content: "|";
  padding-right: 8px;
}

.article-title-primary {
	font-size: 3rem;
	color: #444;
}

.info-snackbar {
	margin-bottom: 20px;
	bottom: 0px !important;
} 