@media screen and (max-width: 768px) {
  .for_small_screen {
    margin-left: 26%;
    width: 45%;
  }
  .for_small_screen_dropDown {
    margin-left: 24%;
    width: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}